.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;

.tittle-cart {
    font-size: 28px;
    font-weight: bold;
    color: #292424;
    margin-bottom: 20px;
}

.item-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;

    .img-item-cart {
        max-width: 100px;
        border-radius: 8px;
        object-fit: cover;
    }

    .text-item-cart {
        font-size: 16px;
        color: #292424;
        margin-right: 10px;
    }

    .delete-item-cart{
        background: none;
        border: none;
        cursor: pointer;
        color: #ff4d4f;
        font-size: 20px;
        transition: color 0.3s;

        &:hover {
            color: #d32f2f;
          }
    }
}




}