.Navbar{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: rgb(67, 67, 67);
    color: white;
    justify-content: space-around;
    align-items: center;
    ul{
        display: flex;
        list-style: none;
        li{
            padding: 0 20px;
        }
    }
    .cartwidget{
        display: flex;
        .icon-cart{
            font-size: 30px;
        }
    }
}

.empty-cart{
    color: gray;
}

.icon-cart{
    color: lime;
    border: 1px solid white;
    font-size: 20px;
}

.active-link{
    color: white;
    border-bottom: 2px solid green;
}